<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ex.home_launcher_android" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyLauncherActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_my_launcher"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllAppsActivity"
            android:label="@string/title_activity_all_apps" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".FavoriteAppsActivity"
            android:label="@string/title_activity_quick_launch" >
        </activity>
        <activity
            android:name=".RecentAppsActivity"
            android:label="@string/title_activity_recent_apps" >
        </activity>
        <activity
            android:name=".MostUsedAppsActivity"
            android:label="@string/title_activity_most_used_apps" >
        </activity>
    </application>

</manifest>
